<!DOCTYPE html>
<html lang="es">
    <footer class="bg-body-tertiary d-flex flex-column align-items-center justify-content-center">
        <div class="icons-redes-sociales">
          <a class="footer-logo" href="#">
            <i class="bi bi-arrow-up"></i>
            </a>
        </div>
            <p class="footer-text text-center">Seguinos en nuestras redes!<br>Si deseas comunicarte con nosotros </p>
        <div class="icons-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
            <a href="#" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-envelope"></i>
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-whatsapp"></i>
          </a>
        </div>
        <div class="derecho-de-autor">CodoACodo4.0 - Python - Grupo 1 (2024) &#169;</div>
    
      </footer>