{% include 'defaults/head.html'%}
<body>
<!--MENU ENCABEZADO-->
{% include 'defaults/header.html' %}     

<h1>Formulario de Adopción</h1>
<main>
<h2>Complete el formulario para su postulación</h2>
<p>
    Este formulario es para procesar su solicitud. La concreción de la adopción  quedará sujeta a los datos brindados, la verificación de los mismos y la entrevista realizada.Tené en cuenta que para avanzar, el formulario debe estar completo con todos los datos solicitados reales de quien va a adoptar. En caso contrario no se avanzara con la solicitud. La respuesta puede tardar unos dias para corroborar la informacion.
</p>
<div class="form-adop">
    <!-- Form -->
    <div class="contacto form">
        <form action="/formularioAdopcionGrabar" method="post">
            <div class="inputBox">
                <span>Nombre y Apellido Completos</span>
                <input type="text"  id="cNombreyApellido" name="cNombreyApellido" required>
            </div>
            <div class="inputBox">
                <span>Documento</span>
                <input type="text"  id="cDNI" name="cDNI"  pattern="\d{8}" maxlength="8"required>
            </div>
            <div class="inputBox">
                <span>Email</span>
                <input type="email" id="cCorreo" name="cCorreo" required>
            </div>
            <div class="inputBox">
                <span>Link de Instagram personal</span>
                <input type="text"  id="cLinkInstagram" name="cLinkInstagram">
            </div>
            <div class="inputBox">
                <span>Teléfono</span>
                <input type="text"  id="cTelefono" name="cTelefono">
            </div>
            <div class="inputBox">
                <span>Fecha de nacimiento</span>
                <input type="date" name="dFechaNacimiento" > 
            </div>

            <div class="inputBox">
                <span for="tipoanimal">Tipo de Mascota:</span>
                <select id="tipoanimal" name="tipoanimal">
                    {% for tipo in tipoAnimales %}
                        <option value="{{ tipo[0]}}">{{ tipo[1] }}</option>
                    {% endfor %}
                </select><br>
            </div>
            <div class="inputBox">
                <span for="idAnimales">Animal que quiere adoptar</span>
                <select id="idAnimales" name="idAnimales">
                    {% for tipo in publicados %}
                        <option value="{{ tipo[0]}}">{{ tipo[1] }}</option>
                    {% endfor %}
                </select><br>
            </div>
            
            <div class="inputBox">
                <span for="tipoestado">Asunto</span>
                <select id="tipoestado" name="tipoestado">
                    {% for tipo in tipoEstados %}
                        <option value="{{ tipo[0]}}">{{ tipo[1] }}</option>
                    {% endfor %}
                </select><br>
            </div>
            <div class="inputBox">
                <span for="vivienda">¿Vivis en casa o departamento? <br>
                    Casa <input type="radio" id="casa" name="cCasaDepartamento" value="casa" />
                    Departamento <input type="radio" id="cCasaDepartamento" name="cCasaDepartamento" value="departamento" />
                </span>
            </div>
          
            <input type="submit" value="Registrar">
        </form>
        
    </div>   
    
   
</main>

    <!-- Carrusel-->
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../static/img/perrito.triste1.jpg" class="d-flex w-100" alt="Imagen Mascotas unidas">
      </div>
      <div class="carousel-item">
        <img src="../static/img/gatito.triste1.jpg" class="d-block w-100" alt="gatitos en adopción">
      </div>
      <div class="carousel-item">
        <img src="../static/img/perrito.triste2.jpg" class="d-block w-100" alt="perrito en adopción">
      </div>
     
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div>
     <!-- Pie de pagina(footer) -->
     {% include 'defaults/footer.html'%}
      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous">
    </script>
    
    <script>
        document.getElementById('cDNI').addEventListener('input', function (e) {
            var value = e.target.value;
            // Remover cualquier carácter que no sea un dígito
            e.target.value = value.replace(/\D/g, '').slice(0, 8);
        });
    </script>
      
</body>
</html>