{% include 'defaults/head.html'%}
<body>
<!--MENU ENCABEZADO-->
{% include 'defaults/header.html' %}     


<h1>Gatos</h1>


<main>

  <div class="container">
    {% for gato in gatos %}
      <div class="article" >
        <img src="{{ '../static/fotos/'+gato[6]}}" alt="{{ gato[0] }}" >
        <h2 class="mascota" >{{ gato[0]  }}</h2>
        <p>
        <p>raza: {{ gato[2] }} <br>
          edad: {{ gato[3] }} <br>
          condición especial: {{ gato[4]}} <br>
          sexo: {{ gato[5] }} <br>
        </p>
        </p>
        <a href="/formAdopsion">Formulario de adopción</a>
      </div>
    {% endfor %}
  </div>
</main>

    <!-- Carrusel-->
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../static/img/gato.perro.2.jpg" class="d-flex w-100" alt="Imagen Mascotas unidas">
      </div>
      <div class="carousel-item">
        <img src="../static/img/gatito.triste1.jpg" class="d-block w-100" alt="gatitos en adopción">
      </div>
      <div class="carousel-item">
        <img src="../static/fotos/gatos/copito.jpg" class="d-block w-100" alt="perrito en adopción">
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div>
     <!-- Pie de pagina(footer) -->
     {% include 'defaults/footer.html'%}
      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous">
    </script>
    
</body>
</html>