{% include 'defaults/head.html'%}
<body class="loguearse">

    <!--MENU ENCABEZADO-->
{% include 'defaults/header.html' %}     

<section>
  <div class="login-box">
    <form action="">
      <h2>Inicio de sesión</h2>
      <div class="input-box">
        <span class="icon"><ion-icon name="person"></ion-icon></span>
        <input type="user" required />
        <label>Usuario</label>
      </div>
      <div class="input-box">
        <span class="icon"><ion-icon name="unlock"></ion-icon></span>
        <input type="password" required />
        <label>Contraseña</label>
      </div>
      <div class="remember-forgot">
          <label><input type="checkbox">Recuerdame</label>
          <a href="#">Olvidaste tu contraseña?</a>
      </div>
      <button type="submit">Ingresar</button>
      <div class="register-link">
          <p>No tienes una cuenta? <a href="#">Registrate</a></p>
      </div>
    </form>
  </div>
</section>
        <!-- Pie de pagina(footer) -->
        {% include 'defaults/footer.html'%}
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
