{% include 'defaults/head.html'%}
<body>
  <!--MENU ENCABEZADO-->
  {% include 'defaults/header.html' %}     

    <h1>Transito</h1>


    <main>
        <section>
        <h3>Perros</h3>
        <div id="carouselExampleAuto" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              {% for perro in perros %}
              <div class="carousel-item {% if loop.first %}active{% endif %}">
                  <div class="article-item">
                      <img src="{{ '../static/fotos/'+perro[6]}}" alt="{{ perro[0] }}" >
                      
                      <h2>{{ perro[0]  }}</h2>
                      <p>raza: {{ perro[2] }} <br>
                          edad: {{ perro[3] }} <br>
                          condición especial: {{ perro[4]}} <br>
                          sexo: {{ perro[5] }} <br>
                      </p>
                      <a href="/formAdopsion">Formulario de adopción</a>
                  </div>
              </div>
              {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAuto" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAuto" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Próximo</span>
          </button>
      </div>
        </section>

        <section>
            <h3>Gatos</h3>    

            <div id="carouselGato" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                  {% for gato in gatos %}
                  <div class="carousel-item {% if loop.first %}active{% endif %}">
                      <div class="article-item">
                          <img src="{{ '../static/fotos/'+gato[6]}}" alt="{{ gato[0] }}" >
                          
                          <h2>{{ gato[0]  }}</h2>
                          <p>raza: {{ gato[2] }} <br>
                              edad: {{ gato[3] }} <br>
                              condición especial: {{ gato[4]}} <br>
                              sexo: {{ gato[5] }} <br>
                          </p>
                          <a href="/formAdopsion">Formulario de adopción</a>
                      </div>
                  </div>
                  {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselGato" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Anterior</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselGato" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Próximo</span>
              </button>
          </div>
        </section>
       
    </main>



     <!-- Carrusel-->
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../static/fotos/gatos/rayito.jpeg" class="d-flex w-100" alt="Imagen Mascotas unidas">
      </div>
      <div class="carousel-item">
        <img src="../static/fotos/perros/polo.jpg" class="d-block w-100" alt="gatitos en adopción">
      </div>
      <div class="carousel-item">
        <img src="../static/fotos/perros/thor.jpg" class="d-block w-100" alt="perrito en adopción">
      </div>
     
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div>
     <!-- Pie de pagina(footer) -->
     {% include 'defaults/footer.html'%}
      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous">
    </script>
    
</body>
